
<div class="jumbotron">
  <h1 class="display-4">
    <%= @yp.first_name %>
    <%= @yp.last_name %>
  </h1>
  <p class="lead">
    <%= @yp.email %> |
    <%= @yp.phone %> |
    <%= @yp.socnet %>
  </p>
  <br/>
  
  <%= link_to 'Редактировать', edit_yp_path(@yp), class:"btn btn-dark" %>

  <%= link_to 'Удалить', @yp, method: :delete, data: { confirm: 'Удалить контакт?' }, class: "btn btn-danger" %>
  
  <%= link_to 'Назад', yps_path, class:"btn btn-secondary" %>
</div>
